
div{ 
	align-items:center;
	background-color:lightgray; 
	width:300px;
	height:430px;
	position:center;
}
.image{
	width:220px;
	padding-top:40px;
	
}
h1{
	margin:0px;
	
}
p{
	margin:0px; 
	font-weight:bold;
	font-size:25px
}
.btn{
	margin-top:40px;
	background-color:orangered;
   color: white;
  border: none;
  border-radius: 10px;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}